# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/
*.egg
env/
venv/
ENV/
.venv/
dummy_data/
test_api.py
normal_dummy.py
generate_dummy.py

# =====================
# Flask
# =====================
instance/
.webassets-cache

# =====================
# Jupyter Notebook
# =====================
.ipynb_checkpoints/

# =====================
# Machine Learning / Model
# =====================
# *.pkl
# *.joblib
# models/
checkpoints/

# =====================
# Environment Variables
# =====================
.env
.env.*

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
